@font-face {
  font-family: "font1";
  src: url("./assets/fonts/segoeuil.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "segoebold";
  src: url("./assets/fonts/segoe-ui-bold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "universalbold";
  src: url("./assets/fonts/UniversalisADFStd-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "universalregular";
  src: url("./assets/fonts/UniversalisADFStd-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "codecBold";
  src: url("./assets/fonts/Codec-Cold-Bold-trial.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NexaBold";
  src: url("./assets/fonts/NexaBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NexaLight";
  src: url("./assets/fonts/NexaLight.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "captura";
  src: url("./assets/fonts/Captura-BlackDemo.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
