#resorthotelsFirstSection,
#resorthotelsSecondSection,
#resorthotelsThirdSection {
  background-color: #f5f5f5;
}

#resorthotelsFirstSection .row {
  padding: 30px 100px;
}

#resorthotelsFirstSection h1 {
  color: grey;
}

#resorthotelsSecondSection {
  padding-bottom: 50px;
}

#resorthotelsSecondSection > .row.first {
  justify-content: center;
}

#resorthotelsSecondSection .row.form_row_1 {
  justify-content: center;
}
#resorthotelsSecondSection .col-md-10 {
  background-color: #ddd;
  padding: 40px 0px;
}

#resorthotelsSecondSection form input[type="text"],
#resorthotelsSecondSection form input[type="date"] {
  width: 100%;
  padding: 10px 10px 10px 5px;
  border: 1px solid #ddd;
  color: grey;
}

#resorthotelsSecondSection .row.form_row_2 {
  justify-content: center;
  padding-top: 25px;
}

#resorthotelsSecondSection .row.form_row_2 select {
  width: 30%;
  border: 1px solid #000;
  margin-left: 10px;
  padding: 7px 0px;
}

#resorthotelsSecondSection p {
  text-align: center;
  margin-bottom: 0;
}

#resorthotelsSecondSection p.children {
  text-align: center;
  margin-bottom: 0;
  padding-left: 24px;
}

#resorthotelsSecondSection input[type="checkbox"] {
  margin-right: 10px;
}

#resorthotelsSecondSection button {
  width: 100%;
  padding: 10px 10px;
  border: none;
  color: #fff;
  background-color: #0a5c7d;
}

#resorthotelsThirdSection {
  padding-bottom: 50px;
}

#resorthotelsThirdSection .col-md-2.column_1 {
  background: #ddd;
  padding-top: 20px;
  padding-bottom: 200px;
}

#resorthotelsThirdSection .col-md-9 {
  background: #fff;
}
#resorthotelsThirdSection .row.parent {
  justify-content: center;
}

#resorthotelsThirdSection .col-md-2 .row {
  justify-content: center;
}

#resorthotelsThirdSection .col-md-2 select {
  width: 100%;
  border: 1px solid #000;
  padding: 6px;
}

#resorthotelsThirdSection .col-md-2 .col-md-10 h1 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}

#resorthotelsThirdSection .col-md-8 .col-md-9 .col-md-12 h1 {
  font-size: 20px;
  font-weight: bold;
  color: #0a5c7d;
}

#resorthotelsThirdSection .col-md-8 .col-md-9 .col-md-12 ul {
  list-style: none;
  display: flex;
  padding-top: 0px;
  margin: 0;
  padding-bottom: 15px;
}

#resorthotelsThirdSection .col-md-8 .col-md-9 .col-md-12 ul li:nth-child(2),
#resorthotelsThirdSection .col-md-8 .col-md-9 .col-md-12 ul li:nth-child(3) {
  border-left: 1px solid #000;
  padding-left: 10px;
}

#resorthotelsThirdSection .col-md-8 .col-md-9 .col-md-12 ul li a {
  padding-right: 10px;
  color: #24a9ce;
  text-decoration: underline;
}

#resorthotelsThirdSection .col-md-9 .col-md-12 {
  display: flex;
  justify-content: space-between;
}

#resorthotelsThirdSection .row.row_2 {
  border-top: 2px solid #ddd;
  justify-content: flex-end;
  margin-top: 20px;
  padding-top: 11px;
}

#resorthotelsThirdSection .col-md-9 .col-md-12 div.price a {
  text-decoration: none;
  color: #fff;
  background-color: #0a5c7d;
  padding: 8px 0;
  width: 100%;
  display: block;
  text-align: center;
}

#resorthotelsThirdSection .col-md-8 .col-md-3 a {
  text-decoration: none;
  color: #fff;
  background-color: #f58634;
  padding: 9px 20px;
  display: block;
  width: 100%;
  font-size: 14px;
  margin-top: 27px;
  font-weight: 600;
}

#resorthotelsThirdSection .col-md-8 .col-md-3 img {
  width: 100%;
}

#resorthotelsThirdSection .col-md-8 .row.individual_row {
  margin-bottom: 17px;
  background: #fff;
  padding: 10px 9px 20px 0;
  border: 2px solid #ddd;
  margin-left: 3px;
}

#resorthotelsThirdSection .col-md-8 .col-md-9 .col-md-12 p.booked {
  color: #f58634;
  font-size: 14px;
}

#resorthotelsThirdSection .col-md-9 h4.double {
  font-size: 14px;
  font-weight: bold;
}

#resorthotelsThirdSection .col-md-9 h2.price {
  font-size: 20px;
  font-weight: bold;
}

#resorthotelsThirdSection .col-md-8 .col-md-9 .col-md-12 div.price {
  text-align: right;
}

#resorthotelsThirdSection div.checkboxes {
  padding-top: 30px;
}
